In [93]:
# Dependencies and Setup
import pandas as pd

# File to load
file_to_load = "purchase_data.csv"

# Read file and store into data frame
purchase_data = pd.read_csv(file_to_load)

In [94]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

### Player Count
* Display the total number of player

In [95]:
total_players = len(purchase_data["SN"].unique())
total_players

576

### Purchasing Analysis (Total)
* Run basic calculations to obtain number of unique items, average price, etc.

* Create a summary data frame to hold the results

* Optional: give the displayed data cleaner formatting

* Display the summary data frame

In [96]:
# Set the necessary variables
unique_items = purchase_data["Item ID"].nunique()
average_sale = purchase_data["Price"].mean()
total_purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()

In [97]:
# Create the summary data frame
purchase_analysis_df = pd.DataFrame(
    {"Number of Unique Items": [unique_items],
    "Average Price": [average_sale],
    "Number of Purchases": [total_purchases],
    "Total Revenue": [total_revenue]})

purchase_analysis_df["Average Price"] = purchase_analysis_df["Average Price"].map("${:.2f}".format)
purchase_analysis_df["Total Revenue"] = purchase_analysis_df["Total Revenue"].map("${:,.2f}".format)

In [98]:
purchase_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

### Gender Demographics
* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

In [99]:
# DeDup the list
purchase_data_dedup = purchase_data.drop_duplicates("SN")
#purchase_data_dedup

In [100]:
# Group by Gender
gender_df = purchase_data_dedup.groupby(["Gender"])
##gender_df.count()

In [101]:
# Create "Totals" Data Frame
gender_totals_df = pd.DataFrame(gender_df["Purchase ID"].count())
gender_totals_df = gender_totals_df.rename(columns = ({"Purchase ID":"Total Count"}))
##gender_totals_df

In [102]:
# Create "Percent" Data Frame
gender_percent_df = pd.DataFrame(gender_totals_df["Total Count"]/sum(gender_totals_df["Total Count"])*100)
gender_percent_df = gender_percent_df.rename(columns=({"Total Count":"Percentage of Players"}))
##gender_percent_df

In [103]:
# Merge the Data Frames
gender_demos_df = pd.merge(gender_totals_df, gender_percent_df, on = "Gender")
##gender_demos_df

In [104]:
# Truncate the percentage
gender_demos_df["Percentage of Players"] = gender_demos_df["Percentage of Players"].map("{:.2f}".format)
gender_demos_df

                       Total Count Percentage of Players
Gender
Female                          81                 14.06
Male                           484                 84.03
Other / Non-Disclosed           11                  1.91

### Purchasing Analysis (Gender)
* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

* Create a summary data frame to hold the results

* Optional: give the displayed data cleaner formatting

* Display the summary data frame

In [105]:
# Group by Gender
gender_purchasing = purchase_data.groupby("Gender")

In [106]:
# Find the purchase count
purchase_count = gender_purchasing["SN"].count()
# purchase_count

In [107]:
# Find the total purchase value
total_value = gender_purchasing["Price"].sum()
# total_value

In [108]:
# Find the average purchase price
average_price = total_value / purchase_count
# average_price

In [109]:
# Find the average total per person
purchaser_number = purchase_data_dedup["Gender"].value_counts(0)
average_total = total_value / purchaser_number
# average_total

In [110]:
gender_purchase_analysis = pd.DataFrame(
    [purchase_count,
    average_price,
    total_value,
    average_total])
gender_purchase_analysis_final = gender_purchase_analysis.T
gender_purchase_analysis_final.columns = [
    'Purchase Count',
    'Average Purchase Price',
    'Total Purchase Value',
    'Avg Total Purchase Per Person']
# gender_purchase_analysis_final

In [111]:
# Truncate Values
gender_purchase_analysis_final["Average Purchase Price"] = gender_purchase_analysis_final["Average Purchase Price"].map("${:.2f}".format)
gender_purchase_analysis_final["Total Purchase Value"] = gender_purchase_analysis_final["Total Purchase Value"].map("${:2,.2f}".format)
gender_purchase_analysis_final["Avg Total Purchase Per Person"] = gender_purchase_analysis_final["Avg Total Purchase Per Person"].map("${:.2f}".format)
gender_purchase_analysis_final

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113.0,$3.20,$361.94,$4.47
Male,652.0,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15.0,$3.35,$50.19,$4.56

### Age Demographics
* Establish bins for ages

* Categorize the existing players using the age bins. Hint: use pd.cut()

* Calculate the numbers and percentages by age group

* Create a summary data frame to hold the results

* Optional: round the percentage column to two decimal points

* Display Age Demographics Table

In [112]:
# Create bins

bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
bin_names = [
    "Under 10",
    "10 - 14",
    "15 - 19",
    "20 - 24",
    "25 - 29",
    "30 - 34",
    "35 - 29",
    "40+"]

age_demos = pd.DataFrame(purchase_data_dedup)
age_demos = pd.DataFrame(pd.cut(age_demos["Age"], bins, labels = bin_names))
# age_demos.head()
age_demos_group = age_demos.groupby(["Age"])

In [113]:
# Create the data frame

age_demos_df = pd.DataFrame(age_demos_group["Age"].count())
age_demos_df = age_demos_df.rename(columns={age_demos_df.columns[0]: "Total Count"})

In [114]:
# age_demos_df

In [115]:
# Calculate Percentages & create data frame

age_demos_p = (age_demos_group["Age"].count())
age_demos_p_df = pd.DataFrame((age_demos_p/sum(age_demos_p))*100)
age_demos_p_df = age_demos_p_df.rename(columns={age_demos_p_df.columns[0]: "Percentage of Players"})
# age_demos_p_df

In [116]:
# Merege the data frames

age_demos_summary = pd.merge(age_demos_df, age_demos_p_df, on=["Age"])
age_demos_summary["Percentage of Players"] = age_demos_summary["Percentage of Players"].map("{:.2f}".format)
age_demos_summary

          Total Count Percentage of Players
Age
Under 10           17                  2.95
10 - 14            22                  3.82
15 - 19           107                 18.58
20 - 24           258                 44.79
25 - 29            77                 13.37
30 - 34            52                  9.03
35 - 29            31                  5.38
40+                12                  2.08

### Purchasing Analysis (Age) 
 
* Bin the purchase_data data frame by age

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below

* Create a summary data frame to hold the results

* Optional: give the displayed data cleaner formatting

* Display the summary data frame

In [117]:
# Create the bins

purchase_data_age = pd.DataFrame(purchase_data)
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
bin_names = [
    "Under 10",
    "10 - 14",
    "15 - 19",
    "20 - 24",
    "25 - 29",
    "30 - 34",
    "35 - 29",
    "40+"]

purchase_data_age["Age Ranges"] = pd.cut(purchase_data_age["Age"], bins, labels=bin_names)
# purchase_data_age
purchase_data_age_group = purchase_data_age.groupby(["Age Ranges"])
# purchase_data_age_group

In [118]:
# Calculate the purchase count

purchase_age_count = purchase_data_age.groupby(["Age Ranges"]).count()["Age"]
# purchase_age_count

In [119]:
# Calculate average purchase price
purchase_age_price = purchase_data_age.groupby(["Age Ranges"]).mean()["Price"]
# purchase_age_price

In [120]:
# Calculate total purchase value
purchase_age_value =  purchase_data_age.groupby(["Age Ranges"]).sum()["Price"]
# purchase_age_value

In [121]:
# Calculate average total per person
purchase_age_average = (purchase_age_value/age_demos_p)
# purchase_age_average

In [122]:
# Display the summary table
purchase_age_summary = pd.DataFrame({
    "Purchase Count": purchase_age_count,
    "Average Purchase Price": purchase_age_price,
    "Total Purchase Value": purchase_age_value,
    "Average Total Purchase Per Person": purchase_age_average})

# purchase_age_summary

In [123]:
# Format the summary table

purchase_age_summary["Average Purchase Price"] = purchase_age_summary["Average Purchase Price"].map("${:.2f}".format)
purchase_age_summary["Total Purchase Value"] = purchase_age_summary["Total Purchase Value"].map("${:.2f}".format)
purchase_age_summary["Average Total Purchase Per Person"] = purchase_age_summary["Average Total Purchase Per Person"].map("${:.2f}".format)
purchase_age_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Age Ranges,,,,
Under 10,23,$3.35,$77.13,$4.54
10 - 14,28,$2.96,$82.78,$3.76
15 - 19,136,$3.04,$412.89,$3.86
20 - 24,365,$3.05,$1114.06,$4.32
25 - 29,101,$2.90,$293.00,$3.81
30 - 34,73,$2.93,$214.00,$4.12
35 - 29,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

### Top Spenders
 
* Run basic calculations to obtain the results in the table below

* Create a summary data frame to hold the results

* Sort the total purchase value column in descending order

* Optional: give the displayed data cleaner formatting

* Display a preview of the summary data frame

In [124]:
# Group data
spenders = purchase_data.groupby("SN")

# Calculate purchase count
spender_count = spenders.count()["Price"]
# spender_count

In [125]:
# Calculate Average Puchase Price
spender_average = spenders.mean()["Price"]
# spender_average

In [126]:
# Calculate Total Purchase Value
spender_total = spenders.sum()["Price"]
# spender_total

In [127]:
# Create the summary table

spenders_summary = pd.DataFrame({"Purchase Count": spender_count,
                                "Average Purchase Price": spender_average,
                                "Total Purchase Value": spender_total})
# spenders_summary

In [128]:
# Format the summary table

spenders_summary["Average Purchase Price"] = spenders_summary["Average Purchase Price"].map("${:.2f}".format)
spenders_summary["Total Purchase Value"] = spenders_summary["Total Purchase Value"].map("${:.2f}".format)
spenders_summary = spenders_summary.sort_values(["Total Purchase Value"], ascending = False)
spenders_summary.head(5)

              Purchase Count Average Purchase Price Total Purchase Value
SN
Haillyrgue51               3                  $3.17                $9.50
Phistym51                  2                  $4.75                $9.50
Lamil79                    2                  $4.64                $9.29
Aina42                     3                  $3.07                $9.22
Saesrideu94                2                  $4.59                $9.18

### Most Popular Items
 
* Retrieve the Item ID, Item Name, and Item Price columns

* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value

* Create a summary data frame to hold the results

* Sort the purchase count column in descending order

* Optional: give the displayed data cleaner formatting

* Display a preview of the summary data frame

In [129]:
# Group list by Item ID and Item Name

item_group = purchase_data.groupby(["Item ID", "Item Name"])
# item_group

In [130]:
# Calculate Purchase Count

item_count = item_group.count()["Price"]
# item_count

In [131]:
# Calculate Average Purchase Price

item_average = item_group.mean()["Price"]
# item_average

In [132]:
# Calculate Total Purchase Value

item_total = item_group.sum()["Price"]
# item_total

In [133]:
# Create Summary Table

item_summary = pd.DataFrame({"Purchase Count": item_count,
                            "Item Price": item_average,
                            "Total Purchase Value": item_total})
# item_summary

In [134]:
# Format Summary Table

item_summary["Item Price"] = item_summary["Item Price"].map("${:.2f}".format)
item_summary["Total Purchase Value"] = item_summary["Total Purchase Value"].map("${:.2f}".format)
item_summary = item_summary.sort_values(by='Purchase Count', ascending = False)

item_summary.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

### Most Profitable Items
 
* Sort the above table by total purchase value in descending order

* Optional: give the displayed data cleaner formatting

* Display a preview of the data frame

In [135]:
# Recreate the data frame

item_summary_profit = pd.DataFrame({"Purchase Count": item_count,
                                   "Item Price": item_average,
                                   "Total Purchase Value": item_total})
# item_summary_profit

In [136]:
# Format the data frame

item_summary_profit = item_summary_profit.sort_values(by='Total Purchase Value', ascending = False)
item_summary_profit["Item Price"] = item_summary_profit["Item Price"].map("${:.2f}".format)
item_summary_profit["Total Purchase Value"] = item_summary_profit["Total Purchase Value"].map("${:.2f}".format)

item_summary_profit.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80